# Web Backend
fastapi==0.111.0
uvicorn[standard]==0.30.1
fastapi-cache2==0.2.1
slowapi==0.1.9
aiogram==3.7.0


# Database Layer (понадобится в будущем)
aiosqlite==0.20.0

#cookies
itsdangerous==2.2.0

#image processing
Pillow==10.4.0
python-multipart==0.0.9

pyrogram==2.0.106
tgcrypto==1.2.5
imagehash==4.3.2
blurhash==1.1.5
geoip2==5.2.0
orjson==3.11.9
huggingface-hub==1.19.0
jinja2==3.1.6